body{
    background-color: rgb(87, 87, 87)!important;
    font-family: 'Poppins'!important;
}

/* ____________ */
/* GLOBAL STYLE */
/* ____________ */

.display-none{
    display: none!important;
}

.display-block{
    display: block!important;
}

.display-flex{
    display: flex!important;
}

.page-title{
    margin: 2% 40% 4%;
    color: rgb(220, 220, 220);
    width: 50%;
    text-decoration: underline;
}

/* ______ */
/* MODALS */
/* ______ */

.blur-background{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, .4);
    top: 0;
    right: 0;
}

.modal-container{
    width: 100%;
    height: 101%;
    z-index: 9999;
    position: absolute;
    background-color: rgba(0, 0, 0, .3);
    right: 0;
    bottom: 0;
    display: flex;
}

.delete-modal{
    width: 100%;
    background-color: rgb(100, 100, 100);
    position: relative;
    display: flex;
    margin: 10% 15% 30% 15%;
    flex-direction: column;
    color: rgb(195, 195, 195);
    border-radius: 50px;
    border-radius: 30px 30px 50px 50px;
}

.delete-modal-header{
    padding: 1% 2%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    background-color: rgb(80, 80, 80);
    border-radius: 30px 30px 0 0;
}

.delete-modal-header h5{
    width: 90%;
    text-align: center;
}

.delete-modal-header .close-modal{
    font-size: 1.5em;
    margin-right: 2%;
    margin-bottom: 3px;
}

.delete-modal-body{
    padding: 5%;
    width: 100%;
}

.delete-modal-body form{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.delete-modal-body form input, .delete-modal-body form button{
    color: rgb(210, 210, 210);
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    border: none;
    border-radius: 15px;
}

.delete-modal-body form input{
    background-color: rgba(255, 0, 0, .4);
}

.delete-modal-body form button{
    background-color: rgb(50, 166, 74);
}

/* ________________________ */
/* CHARACTER SKILLS SECTION */
/* ________________________ */

.character-table, .skills-table{
    margin: 1%;
}

.character-table thead tr td, .skills-table thead tr td{
    text-align: center;
}

.character-table{
    width: 49%;
}

.skills-table{
    width: 98%;
}

.character-table thead tr td{
    background-color: red;
}

.character-table thead tr td:not(:first-child){
    border-left: 1px solid black
}

.character-table tbody tr td{
    background-color: green;
}

.character-table tbody tr td:not(:first-child){
    border-left: 1px solid black
}

.skills-table thead tr td{
    background-color: red;
    padding: 0 1%;
}

.skills-table thead tr td:not(:first-child){
    border-left: 1px solid black
}

.skills-table tbody tr td{
    background-color: green;
}

.skills-table tbody tr td:not(:first-child){
    border-left: 1px solid black
}

.items-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item-data{
    width: 20%;
    background-color: rgb(100, 100, 100);
    margin: 2% 6% 5% 6%;
    padding: 1%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: rgb(210, 210, 210);
    border-radius: 20px;
}

.item-name{
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
}

.item-attr{
    width: 50%;
}

.item-stat{
    width: 50%;
    text-align: right;
}